@model LeverancierViewModel

@{
    ViewData["Title"] = "AddLeveranciers";
}
<script>
    $(document).ready(function () {
        $('.selectpicker').selectpicker({
            liveSearch: true,
            showSubtext: true
        });
    });
</script>
<style>
    .bootstrap-select .dropdown-menu > li > a small.muted {
        display: none;
    }

    .bootstrap-select .dropdown-toggle .filter-option {
        position: relative;
        padding-left: 38px;
        content :"test"
    }

        .bootstrap-select .dropdown-toggle .filter-option:before {
            font-size: 14px;
            font-weight: 700;
            position: absolute;
            left: 0;
            top: 0;
        }
</style>

<h4>Leverancier</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddLeveranciers">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Naam" class="control-label"></label>
                <input asp-for="Naam" class="form-control" />
                <span asp-validation-for="Naam" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BtwNummer" class="control-label"></label>
                <input asp-for="BtwNummer" class="form-control" />
                <span asp-validation-for="BtwNummer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Straat" class="control-label"></label>
                <input asp-for="Straat" class="form-control" />
                <span asp-validation-for="Straat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HuisNummer" class="control-label"></label>
                <input asp-for="HuisNummer" class="form-control" />
                <span asp-validation-for="HuisNummer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Bus" class="control-label"></label>
                <input asp-for="Bus" class="form-control" />
                <span asp-validation-for="Bus" class="text-danger"></span>
            </div>

            <div class="form-group">
                <p> Plaats</p> 
                @Html.DropDownListFor(
                x => x.PlaatsId,
                new SelectList(Model.Plaats, "Value", "Text"), new { @class = "form-control selectpicker",data_show_subtext = "true",
                    data_live_search = "true",data_live_search_placeholder = "Search"
                }
                )

            </div>
           
            <!-- By AngelKrak -->
            <div class="form-group">
                <label asp-for="FamilienaamContactpersoon" class="control-label"></label>
                <input asp-for="FamilienaamContactpersoon" class="form-control" />
                <span asp-validation-for="FamilienaamContactpersoon" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VoornaamContactpersoon" class="control-label"></label>
                <input asp-for="VoornaamContactpersoon" class="form-control" />
                <span asp-validation-for="VoornaamContactpersoon" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

